<template>
    <section class="animate-content">
        <header-navbar></header-navbar>
        <app-breadcrumbs></app-breadcrumbs>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center page-about-tittles">
                    <h5>Մեր մասին</h5>
                    <h2>Ցեյլոնյան թեյի որակյալ արտադրություն</h2>
                    <p>Production Integer quis tempor orci. Suspendisse potenti.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        Quisque gravida tempor diam id finibus. Duis non mi augue.</p>
                </div>

                <div class="about-content col-12 col-sm-6 col-md-4 col-lg-2 text-center mt-4">
                    <div class="about-icons-box">
                        <img src="../assets/images/about-1.png" alt="about1">
                    </div>
                    <h5>Բարձր որակ</h5>
                    <p>Integer quis tempor orci. Suspendisse potenti.</p>
                </div>

                <div class="about-content col-12 col-sm-6 col-md-4 col-lg-2 text-center mt-4">
                    <div class="about-icons-box">
                        <img src="../assets/images/about-2-1.png" alt="about2">
                    </div>
                    <h5>Մաքուր համ</h5>
                    <p>Integer quis tempor orci. Suspendisse potenti.</p>
                </div>

                <div class="about-content col-12 col-sm-6 col-md-4 col-lg-2 text-center mt-4">
                    <div class="about-icons-box">
                        <img src="../assets/images/about-3-1.png" alt="about3">
                    </div>
                    <h5>Խոշոր տեսականի</h5>
                    <p>Integer quis tempor orci. Suspendisse potenti.</p>
                </div>

                <div class="about-content col-12 col-sm-6 col-md-4 col-lg-2 text-center mt-4">
                    <div class="about-icons-box">
                        <img src="../assets/images/about-4.png" alt="about4">
                    </div>
                    <h5>Էկո փաթեթ</h5>
                    <p>Integer quis tempor orci. Suspendisse potenti.</p>
                </div>

                <div class="about-content col-12 col-sm-6 col-md-4 col-lg-2 text-center mt-4">
                    <div class="about-icons-box">
                        <img src="../assets/images/about-5.png" alt="about5">
                    </div>
                    <h5>Առանց գլյուտենի</h5>
                    <p>Integer quis tempor orci. Suspendisse potenti.</p>
                </div>

                <div class="about-content col-12 col-sm-6 col-md-4 col-lg-2 text-center mt-4">
                    <div class="about-icons-box">
                        <img src="../assets/images/about-6.png" alt="about6">
                    </div>
                    <h5>Առանց ԳՁՕ</h5>
                    <p>Integer quis tempor orci. Suspendisse potenti.</p>
                </div>
            </div>
        </div>

        <section class="second_section mt-5">
            <div class="block_cupOfTea">
                <img class="img-fluid" src="../assets/images/block-green-cups-full.png" alt="green-cup">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 about-content-tittles">
                        <h2 class="mb-4">Թեյը աշխարհում ամենատարածված <span class="text-green">խմիչքներից</span> մեկն է</h2>
                        <h5>Օրական մեկ բաժակ թեյի օգտագործումը դրական ազդեցություն է թողնում ձեր օրգանիզմի վրա</h5>
                        <div class="mt-5">
                            <div class="about-healt-box">
                                <span>
                                    <img src="../assets/images/icon-block-green-1.png" alt="second-block-icon1">
                                </span>
                                <h6>Բարելավում է ուղեղի աշխատանքը</h6>
                            </div>
                            <div class="about-healt-box">
                                <span>
                                    <img src="../assets/images/icon-block-green-2.png" alt="second-block-icon2">
                                </span>
                                <h6>Վնասակար նյութերի վնասազերծում</h6>
                            </div>
                            <div class="about-healt-box">
                                <span>
                                    <img src="../assets/images/icon-block-green-3.png" alt="second-block-icon3">
                                </span>
                                <h6>Ավելնորդ քաշի նվազեցում</h6>
                            </div>
                            <div class="about-healt-box">
                                <span>
                                    <img src="../assets/images/icon-block-green-4.png" alt="second-block-icon4">
                                </span>
                                <h6>Երկարակեցություն</h6>
                            </div>
                        </div>
                        <div class="mt-5">
                            <b-link to="/Category" class="btn btn-primary text-uppercase float-right" role="button" aria-pressed="true">Գնել հիմա</b-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="third_section mt-5">
            <div class="block_cupOfTea d-none d-sm-block">
                <img class="img-fluid" src="../assets/images/logo-cup.png" alt="cup">
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-12 col-md-7 about-content-tittles">
                        <h2 class="mb-4 text-dark">Թեյի սորտերի <span class="text-green">ներկայացում</span> եւ արտադրանքի համտեսում</h2>
                        <h5 class="text-dark">Օրական մեկ բաժակ թեյի օգտագործումը դրական ազդեցություն է թողնում ձեր օրգանիզմի վրա</h5>
                        <div class="mt-5">
                            <b-link to="/Category" class="btn btn-primary text-uppercase float-right" role="button" aria-pressed="true">Գնել հիմա</b-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="prepare_section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mb-5">
                        <h2>Ինչպես պատրաստել <span class="text-green">կանաչ</span> թեյ</h2>
                        <h4>Դիտեք մեր զարմանահրաշ տեսանյութը</h4>
                    </div>
                    <div class="col-12 prepare_video_box">
                        <b-embed class="prepare_video" type="video" controls :poster="require('../assets/images/Tea-time.jpg')">
                            <source src="assets/videos/Tea-time.webm" type='video/webm;codecs="vp8, vorbis"' />
                            <source src="assets/videos/Tea-time.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                        </b-embed>
                    </div>
                </div>
            </div>
        </section>
        <footer-navbar></footer-navbar>
    </section>
</template>

<style scoped lang="scss">
    .page-about-tittles{
        h5{
            color:#88b44e;
            font-style: italic;
        }
        h2{
            font-weight: 700;
        }
        p{
            font-style: italic;
        }
    }
    .about-icons-box{
        width: 85px;
        height: 85px;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #88b44e;
        margin:0 auto 20px auto;
    }
    .about-content{
        position: relative;
        &:before{
            content:"";
            border:1px dashed #8e8e8e;
            width: 60px;
            position: absolute;
            top:47px;
            right:-30px;
        }
        &:last-child{
            &:before{
                content: none;
            }
        }
        p{
            font-size: 14px;
        }
        @media(max-width: 991px){
            &:before{
                content: none;
            }
        }
    }
    .second_section{
        position: relative;
        background-image:url("../assets/images/green-holst.jpg");
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            background-image: linear-gradient(to right, #000000ab, #1b1b1b59, #000000ab);
        }
        .about-healt-box{
            margin-top:20px;
            display: flex;
            align-items: center;
            span{
                background: #fff;
                border-radius: 500px;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h6{
                color: #fff;
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
    }
    .third_section{
        padding: 100px 0;
        .block_cupOfTea{
            left:0;
            right: auto;
        }
    }
    .block_cupOfTea{
        position: absolute;
        right: 0;
        @media(max-width: 991px){
            opacity: 0.5;
        }
    }
    .about-content-tittles{
        h2,h5{
            color: #fff;
        }
        h5{
            font-style: italic;
        }
    }
    .prepare_section{
        background-image: url("../assets/images/video_parallax.jpg");
        background-attachment: fixed;
        margin-top: 300px;
        margin-bottom: 100px;
        padding-top: 100px;
        position: relative;
        @media(max-width: 575px){
            margin-top: 0px;
        }
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #00000063;
        }
        h2{
            color:#fff;
            font-size: 50px;
            font-weight:bold;
            @media(max-width: 767px){
                font-size: 30px;
            }
        }
        h4{
            color: #fff;
            font-style: italic;
        }
        .prepare_video_box{
            bottom: -60px;
            > div{
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }
        }
    }
</style>

<script>
    export default {
        name: 'about-page',
    }
</script>
