<template>
    <section class="animate-content">
        <div class="header">
            <span id="menu-action" v-on:click="myFilter" v-bind:class="{ active: isActive }">
                 <svg class="ham hamRotate ham8" viewBox="0 0 100 100" width="60" v-bind:class="{ active: isActive }">
                    <path
                            class="line top"
                            d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                    <path
                            class="line middle"
                            d="m 30,50 h 40" />
                    <path
                            class="line bottom"
                            d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                </svg>
                <span>Close</span>
            </span>
            <div class="logo">
                Admin Panel
            </div>
            <button @click="logout()" class="btn btn-danger mr-2">Դուրս գալ</button>
        </div>
        <div class="sidebar" v-bind:class="{ active: isActive }">
            <ul>
                <li>
                    <a @click="adminContent = true">
                        <img src="../assets/images/gift.svg" alt="product">
                        <span>Product</span>
                    </a>
                </li>
                <li>
                    <a @click="adminContent = false">
                        <img src="../assets/images/gallery.svg" alt="gallery">
                        <span>Gallery</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Content -->
        <div class="main" v-bind:class="{ active: isActive }">
            <div class="row">
                <!--preloader-->
                <transition leave-active-class="animated fadeOut">
                    <div v-if="loading" class="col-md-12 loader-content">
                        <div class="loader">
                            <div class="loader-inner">
                                <div class="loading one"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading two"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading three"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading four"></div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>

            <!--product content-->
            <div v-show="adminContent" class="row product_block">
                <div v-for="products in product" class="col-12 col-md-4 text-center product-content animated bounceIn mt-3">
                    <div class="p-4 product">
                        <button @click="deleteProduct(products.id)" class="btn btn-danger delete_btn" type="button">Ջնջել</button>
                        <div class="product-image mb-4">
                            <img class="img-fluid" :src="'/storage/'+products.img" alt="product">
                        </div>
                        <div class="mt-3 name">
                            <h4>{{products.name}}</h4>
                        </div>
                        <p class="description mt-3">{{products.description.substring(0, 86)+'...'}}</p>
                        <p class="price mt-3 text-green">{{products.price}}֏</p>
                        <div>
                            <b-btn @click="getById(products.id)" class="btn btn-primary text-uppercase" v-b-modal.modal1Update>Փոփոխել</b-btn>
                        </div>
                    </div>
                </div>

                <!-- change product modal -->
                <!-- Modal Component -->
                <b-modal ref="modal1Update" id="modal1Update" title="Ավելացնել Բազայում">
                    <form v-on:submit.prevent="update(porductData)" class="p-4 product-content">
                        <div class="product-image mb-4">
                            <vue-dropzone class="text-center" ref="myVueDropzone" id="dropzone1"  v-on:vdropzone-success="changefileSucceed" :options="dropzoneOptions"></vue-dropzone>
                        </div>
                        <div class="mt-3 name">
                            <input v-model="porductData.name" name="name" class="text-center" type="text">
                        </div>
                        <p class="description mt-3">
                            <textarea v-model="porductData.description" name="description" class="text-center" cols="30" rows="5"></textarea>
                        </p>
                        <p class="price mt-3">
                            <input v-model="porductData.price" name="price" class="text-center text-green" type="text">
                        </p>
                        <div class="text-center">
                            <button class="btn btn-primary text-uppercase">Պահպանել</button>
                        </div>
                    </form>
                </b-modal>

                <!-- add product modal -->
                <b-btn class="add-btn" v-b-modal.modal1><img width="25" src="../assets/images/add.svg" alt="add"></b-btn>
                <!-- Modal Component -->
                <b-modal ref="addProduct" id="modal1" title="Ավելացնել Բազայում">
                    <form class="p-4 product-content" v-on:submit.prevent="add(addProduct)">
                        <div class="product-image mb-4">
                            <vue-dropzone class="text-center" ref="myVueDropzone" id="dropzone"  v-on:vdropzone-success="fileSucceed" :options="dropzoneOptions"></vue-dropzone>
                        </div>
                        <div class="mt-3 name">
                            <input v-model="addProduct.name" name="name" class="text-center" type="text" placeholder="Անվանում">
                        </div>
                        <p class="description mt-3">
                            <textarea v-model="addProduct.description" name="description" class="text-center" cols="30" rows="5" placeholder="Բնութագիր"></textarea>
                        </p>
                        <p class="price mt-3">
                            <input v-model="addProduct.price" name="price" class="text-center text-green" type="text" placeholder="Գին">
                        </p>
                        <div class="text-center">
                            <button class="btn btn-primary text-uppercase">Ավելացնել</button>
                        </div>
                    </form>
                </b-modal>
            </div>

            <!--gallery content-->
            <div v-show="adminContent == false" class="row gallery_block">
                <div v-for="gallery in galleries" class="col-12 col-md-4 text-center product-content animated bounceIn mt-3">
                    <div class="product p-1">
                        <button @click="deleteImage(gallery.id)" class="btn btn-danger delete_btn" type="button">Ջնջել</button>
                        <div class="product-image">
                            <img class="img-fluid" :src="'/storage/'+gallery.img" alt="product">
                        </div>
                    </div class="product">
                </div>

                <!-- add gallery modal -->
                <b-btn class="add-btn" v-b-modal.modal1_gallery><img width="25" src="../assets/images/add.svg" alt="add"></b-btn>
                <!-- Modal Component -->
                <b-modal ref="addGallery" id="modal1_gallery" title="Ավելացնել Բազայում">
                    <form class="p-4" v-on:submit.prevent="addimage(addGallery)">
                        <div class="product-image mb-4">
                            <vue-dropzone class="text-center" ref="myVueDropzone" id="dropzoneGallery"  v-on:vdropzone-success="galleryfileSucceed" :options="dropzoneOptions"></vue-dropzone>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary text-uppercase">Ավելացնել</button>
                        </div>
                    </form>
                </b-modal>
            </div>
        </div>
    </section>
</template>
<style lang="scss">
    #app{
        .modal-footer{
            display: none;
        }
    }
</style>
<style scoped lang="scss">
    .loader-content{
        height:100vh
    }
    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background: #1f203a;
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            -webkit-transition: -webkit-transform 400ms;
            transition: -webkit-transform 400ms;
            -o-transition: transform 400ms;
            transition: transform 400ms;
            transition: transform 400ms, -webkit-transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .hamRotate.active {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .hamRotate180.active {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        .line {
            fill:none;
            -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke:#fff;
            stroke-width:5.5;
            stroke-linecap:round;
        }

        .ham8 .top {
            stroke-dasharray: 40 160;
        }
        .ham8 .middle {
            stroke-dasharray: 40 142;
            -webkit-transform-origin: 50%;
            -ms-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: -webkit-transform 400ms;
            transition: -webkit-transform 400ms;
            -o-transition: transform 400ms;
            transition: transform 400ms;
            transition: transform 400ms, -webkit-transform 400ms;
        }
        .ham8 .bottom {
            stroke-dasharray: 40 85;
            -webkit-transform-origin: 50%;
            -ms-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
            transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
            -o-transition: transform 400ms, stroke-dashoffset 400ms;
            transition: transform 400ms, stroke-dashoffset 400ms;
            transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
        }
        .ham8.active .top {
            stroke-dashoffset: -64px;
        }
        .ham8.active .middle {
            //stroke-dashoffset: -20px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        .ham8.active .bottom {
            stroke-dashoffset: -64px;
        }
        .logo {
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        #menu-action {
            cursor: pointer;
            display: block;
            float: left;
            width: 60px;
            height: 50px;
            line-height: 50px;
            margin-right: 15px;
            color: #fff;
            text-decoration: none;
            background: rgba(0, 0, 0, 0.15);
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            span {
                width: 0px;
                display: none;
                overflow: hidden;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
            &:hover {
                background: rgba(0, 0, 0, 0.25);
            }
            &.active {
                width: 250px;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                span {
                    display: inline;
                    width: auto;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    .sidebar {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 50px;
        height: 100%;
        width: 60px;
        background: #0e0c28;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.70);
        text-align: center;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover, &.active, &.hovered {
            width: 250px;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: block;
                a {
                    display: block;
                    position: relative;
                    cursor:pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    border-bottom: 1px solid #3d3f4e;
                    color: #fff;
                    text-align: left;
                    transition: all 0.2s cubic-bezier(0.56, 0.08, 0.68, 0.53);
                    img {
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        padding: 15px;
                        line-height: 60px;
                        text-align: center;
                        -webkit-animation-duration: .7s;
                        -moz-animation-duration: .7s;
                        -o-animation-duration: .7s;
                        animation-duration: .7s;
                        -webkit-animation-fill-mode: both;
                        -moz-animation-fill-mode: both;
                        -o-animation-fill-mode: both;
                        animation-fill-mode: both;
                    }
                    span {
                        display: inline-block;
                        height: 60px;
                        line-height: 60px;
                    }
                    &:hover {
                        background-color: #070515;
                        color:#fff;
                    }
                }
            }
        }
    }

    .main {
        position: relative;
        display: block;
        top: 50px;
        left: 0;
        padding: 15px;
        padding-left: 75px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        @media(min-width: 577px){
            &.active {
                padding-left: 275px;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
        }
    }
    .product-content{
        .product{
            border:1px solid #88b44e;
            border-radius: 5px;
            position:relative;
            .delete_btn{
                position: absolute;
                right:10px;
                top:10px;
            }
        }
        input,textarea{
            background: transparent;
            border: none;
            border-bottom: 1px solid;
            width: 100%;
            outline:none;
        }
        textarea{
            border:1px solid;
        }
        .name{
            input,h4{
                font-size: 24px;
                font-weight: bold;
            }
        }
        .description{
            word-break: break-all;
        }
        .price{
            font-weight: bold;
            font-size:18px;
            input{
                font-weight: bold;
                font-size:18px;
            }
        }
    }
    .add-btn{
        background: #fff;
        border-radius: 500px;
        position:fixed;
        right: 7px;
        bottom: 7px;
        padding: 15px;
    }
</style>

<script>
    export default {
        name: 'admin-page',
        data () {
            return{
                product:{},
                adminContent: true,
                isActive: false,
                file: null,
                loading: false,
                porductData: {},
                addProduct: {},
                addGallery:{},
                galleries: {},
                save: false,
                dropzoneOptions: {
                    url: 'api/addImage',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    maxFiles: 1,
                    headers: { "My-Awesome-Header": "header value" },
                }
            }
        },
        methods: {
            myFilter: function(){
                this.isActive = !this.isActive;
            },
            getById (id) {
                axios.get("api/product/"+id).then(response =>{
                    this.porductData = response.data;
                })
            },
            update (porductData) {
                axios.post("api/update",{
                    data:porductData
                }).then(response => {
                    this.$refs.modal1Update.hide();
                    this.getProducts();
                }).catch(error => {
                    console.log(error)
                })
            },
            deleteProduct (id) {
                axios.get("api/productDelete/"+id).then(response => {
                    this.getProducts();
                })
            },
            add (addProduct) {
                axios.post("api/add", this.addProduct).then(response => {
                    this.$refs.addProduct.hide();
                    this.getProducts();
                }).catch(error => {
                    console.log(error)
                })
            },
            addimage (addGallery) {
                axios.post("api/gallery", this.addGallery).then(response => {
                    this.$refs.addGallery.hide();
                    this.getGallery()
                }).catch(error => {
                    console.log(error)
                })
            },
            deleteImage (id) {
                axios.get("api/galleryDelete/"+id).then(response => {
                    this.getGallery();
                })
            },
            galleryfileSucceed(file, response) {
                this.addGallery.img = response
            },
            fileSucceed(file, response) {
                this.addProduct.img = response
            },
            changefileSucceed(file, response) {
                this.porductData.img = response
            },
            getProducts () {
                this.loading = true;
                axios.get("api/products").then(response =>{
                    this.product = response.data;
                    this.loading = false;
                })
            },
            getGallery () {
                this.loading = true;
                axios.get("api/galleries").then(response =>{
                    this.galleries = response.data;
                    this.loading = false;
                })
            },
            logout(){
                localStorage.removeItem('save');
                this.$router.push({ path: 'login' })
            }
        },
        mounted(){
            if (localStorage.getItem('save') != null) {
                this.save = JSON.parse(localStorage.getItem('save'));
            }
            if(!this.save){
                this.$router.push({ path: 'login' })
            }
            this.getProducts();
            this.getGallery();
        },
    }
</script>
