<template>
  <div id="app">
    <transition enter-active-class="animated bounceInLeft" leave-active-class="animated bounceOutRight">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
  *::-webkit-scrollbar{
    display: none;
  }
  .dropdown-toggle::after {
    display:none;
  }
  body{
    background-color: #F5F5F5;
    overflow-x: hidden;
  }
  .btn-primary{
    background: #88b44e;
    border-color: #88b44e;
    border-radius: 500px;
    padding: 15px 25px;
    font-weight: 700;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .btn-primary:hover,.btn-primary:active{
    background-color: #48691b !important;
    border-color: #48691b !important;
  }
  .text-green{
    color:#88b44e
  }
  .animate-content{
    position: absolute;
    width: 100%;
    top:0
  }

  .loader-content{
    position: absolute;
    background: #fff;
    top:0;
    left: 0;
    height:100%;
    z-index:999;
    display:flex;
    align-items: center;
    .loader {
      width: 100px;
      height: 100px;
      margin: 40px auto;
      transform: rotate(-45deg);
      font-size: 0;
      line-height: 0;
      animation: rotate-loader 5s infinite;
      padding: 25px;
      border: 1px solid #88b44e;
      .loader-inner {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 50%;
      }
      .loading {
        position: absolute;
        background: #88b44e;
      }
      .one {
        width: 100%;
        bottom: 0;
        height: 0;
        animation: loading-one 1s infinite;
      }
      .two {
        width: 0;
        height: 100%;
        left: 0;
        animation: loading-two 1s infinite;
        animation-delay: 0.25s;
      }
      .three {
        width: 0;
        height: 100%;
        right: 0;
        animation: loading-two 1s infinite;
        animation-delay: 0.75s;
      }
      .four {
        width: 100%;
        top: 0;
        height: 0;
        animation: loading-one 1s infinite;
        animation-delay: 0.5s;
      }
    }
  }


  @keyframes loading-one {
    0% {
      height: 0;
      opacity: 1;
    }

    12.5% {
      height: 100%;
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      height: 100%;
      opacity: 0;
    }
  }


  @keyframes loading-two {
    0% {
      width: 0;
      opacity: 1;
    }

    12.5% {
      width: 100%;
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      width: 100%;
      opacity: 0;
    }
  }


  @keyframes rotate-loader {
    0% {
      transform: rotate(-45deg);
    }

    20% {
      transform: rotate(-45deg);
    }

    25% {
      transform: rotate(-135deg);
    }

    45% {
      transform: rotate(-135deg);
    }

    50% {
      transform: rotate(-225deg);
    }

    70% {
      transform: rotate(-225deg);
    }

    75% {
      transform: rotate(-315deg);
    }

    95% {
      transform: rotate(-315deg);
    }

    100% {
      transform: rotate(-405deg);
    }
  }

</style>
