<template>
    <div class="container-fluid section_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 pb-5">
                    <h4 class="page-title">{{ $route.name }}</h4>
                    <b-breadcrumb :items="items" class="align-items-center text-white breadcrumb">

                    </b-breadcrumb>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .breadcrumb-item{
        a{
            color:#fff
        }
    }
    .section_bg{
        background-image: url("../assets/images/inner-bg-cut.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top:300px;
        position: relative;
        @media(max-width: 767px){
            padding-top:170px;
        }
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top:0;
            left: 0;
            background-color: #1b1b1bad;

        }
        .page-title{
            font-size: 48px;
            color:#F5F5F5;
        }
        .breadcrumb{
            background-color: #88b44e6b;
        }
    }
</style>

<script>
    export default {
        name: 'breadcrumbs',
        data () {
            return {
                items: [{
                    text: 'Գլխավոր',
                    to: '/'
                }, {
                    text: this.$route.name,
                    to: this.$route.path
                }]
            }
        }
    }
</script>