<template>
    <section class="animate-content">
        <header-navbar></header-navbar>
        <app-breadcrumbs></app-breadcrumbs>
        <transition tag="div" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <b-alert class="cart-alert" :show="dismissCountDown"
                     dismissible
                     variant="success"
                     @dismissed="dismissCountDown=0"
                     @dismiss-count-down="countDownChanged">
                Ապրանքը ավելացված է զամբյուղ
            </b-alert>
        </transition>
        <div class="container">
            <div class="row">
                <div id="cart-content" class="col-12 col-lg-4 bg-white aside order-2 order-md-1 pt-5 pb-5">
                    <h4 class="aside-tittle"><img width="20" height="20" src="../assets/images/plant-leaf-with-white-details.svg" alt="aside-icon">Զամբյուղ</h4>
                    <div :class="[{ emptyBg: empty }, 'cart']">
                        <transition-group tag="div" enter-active-class="animated jello" leave-active-class="animated zoomOut">
                            <div v-for="(cartProduct, key) in cartProducts" v-bind:key="key" class="d-flex align-items-center justify-content-between cart-product">
                                <div class="d-flex align-items-center prod-image">
                                    <button @click="deleteProd(cartProduct, cartProduct.id)" type="button" class="close p-1">×</button>
                                    <img class="img-fluid" :src="'/storage/'+cartProduct.img" alt="product">
                                </div>
                                <h5 class="m-0">{{cartProduct.name}}</h5>
                                <div class="quantity-toggle">
                                    <button @click="decrement(cartProduct,cartProduct.id)">&mdash;</button>
                                    <input type="text" v-model="cartProduct.count" readonly>
                                    <button @click="increment(cartProduct,cartProduct.id)">&#xff0b;</button>
                                </div>
                                <h5 class="m-0 productPrice">{{cartProduct.price * cartProduct.count}}֏</h5>
                            </div>
                        </transition-group>
                    </div>
                    <div class="total-price">
                        <b-link v-if="!empty" to="#" class="btn prod-btntext-uppercase btn-secondary">Պատվեր</b-link>
                        <p class="m-0">Ընդամենը: {{this.total}}֏</p>
                    </div>
                    <div class="mt-4">
                        <h4 class="aside-tittle"><img width="20" height="20" src="../assets/images/plant-leaf-with-white-details.svg" alt="aside-icon">Կատեգորիա</h4>
                        <div class="category">

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 order-1 order-md-2 product-box">
                    <!--preloader-->
                    <transition leave-active-class="animated fadeOut">
                        <div v-if="loading" class="col-md-12 loader-content">
                            <div class="loader">
                                <div class="loader-inner">
                                    <div class="loading one"></div>
                                </div>
                                <div class="loader-inner">
                                    <div class="loading two"></div>
                                </div>
                                <div class="loader-inner">
                                    <div class="loading three"></div>
                                </div>
                                <div class="loader-inner">
                                    <div class="loading four"></div>
                                </div>
                            </div>
                        </div>
                    </transition>
                    <paginate name="items"
                              tag = "div"
                              class = "row"
                              :list="product"
                              :per="6">
                        <div v-for="(products, key) in paginated('items')" class="col-12 col-md-4 text-center product-content p-4">
                            <input name="produt_id" :id="products.id" :value="products.id" type="text" hidden>
                            <div class="product-image mb-4">
                                <b-link :to="'/product/'+products.id">
                                    <img class="img-fluid" :src="'/storage/'+products.img" alt="product">
                                </b-link>
                            </div>
                            <div>
                                <b-link :to="'/product/'+products.id" class="product-name">
                                    {{ products.name }}
                                </b-link>
                                <p class="description">{{ products.description.substring(0, 86)+'...' }}</p>
                                <p class="price text-green m-0">{{ products.price }} ֏</p>
                                <b-button @click="addToCart(products, products.id)" class="d-inline-block d-lg-none prod-btn btn btn-primary text-uppercase mt-3">Գնել <img width='15' height='15' src='../assets/images/shopping-purse-white.svg' type='svg'></b-button>
                                <div class="product-layer animated flipInY">
                                    <div>
                                        <b-link :to="'/product/'+products.id" class="prod-btn more_info btn btn-primary text-uppercase">Ավելին <img width='15' height='15' src='../assets/images/chevron-sign-to-right.svg' type='svg'></b-link>
                                    </div>
                                    <div class="mt-4">
                                        <b-button @click="addToCart(products, products.id)" class="prod-btn btn btn-primary text-uppercase">Գնել <img width='15' height='15' src='../assets/images/shopping-purse-white.svg' type='svg'></b-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </paginate>
                    <div class="col-12">
                        <paginate-links for="items" :limit="2" :show-step-links="true" :async="true"></paginate-links>
                    </div>
                </div>
            </div>
        </div>
        <footer-navbar></footer-navbar>
    </section>
</template>
<style lang="scss">
    .cart-alert{
        position: fixed;
        top:0;
        right: 0;
        z-index:999;
    }
    .paginate-links {
        list-style-type: none;
        text-align: center;
        margin-top:1rem;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 10px;
        }
        a {
            cursor: pointer;
            color: #42b983 !important;
        }
        li.active a {
            font-weight: bold;
        }
        li.disabled a {
            color: #ccc;
            cursor: no-drop;
        }
    }
</style>
<style scoped lang="scss">
    .aside{
        border-top:5px solid #88b44e;
        .aside-tittle{
            img{
                margin-right: 10px;
            }
        }
        .emptyBg{
            background-image: url("../assets/images/empty-cart.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .cart{
            .prod-image{
                img{
                    max-width: 56px;
                }
            }
            .cart-product{
                background: #88b44ea1;
                padding: 15px;
            }
            .quantity-toggle {
                display: flex;
                input {
                    border: 0;
                    border-top:1px solid #88b44e;
                    border-bottom:1px solid #88b44e;
                    width: 2.5rem;
                    text-align: center;
                    padding: 0 .5rem;
                }
                button {
                    padding: 2px;
                    background: #f5f5f5;
                    border:1px solid #88b44e;
                    color: #888;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }
        .cart,.category{
            border:1px dashed #88b44e;
            min-height: 197px;
            border-radius: 3px;
        }
        .total-price{
            border-radius: 3px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: url("../assets/images/cart-bg.jpg");
            background-attachment: fixed;
            background-size: contain;
            position:relative;
            min-height: 68px;
            p,.btn{
                z-index: 9;
                color:#fff;
                font-weight: bold;
            }
            .btn{
                background: #88b44e;
            }
            &:after{
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #1b1b1bad;
            }
        }
    }
    .product-box{
        min-height: 500px;
    }
    .product-content{
        @media(min-width: 992px){
            &:hover{
                .product-layer{
                    display: flex;
                }
            }
        }
        @media(max-width: 767px){
            border-bottom: 5px solid #88b44e;
        }
        .product-name{
            font-weight: bold;
            color:#333;
            font-size: 24px;
        }
        .price{
            font-weight: bold;
            font-size: 20px;
        }
        .product-layer{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: #ffffffb8;
            border-bottom: 5px solid #88b44e;
            display:none;
            flex-direction: column;
            align-items:center;
            justify-content:center;
            .more_info{
                background: #fff !important;
                color: #88b44e !important;
            }
            .prod-btn{
                min-width: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    margin-left:10px;
                }
            }
        }
    }
</style>

<script>
    export default {
        name: 'Category-page',
        data () {
            return{
                product:[],
                cartProducts:{},
                loading:false,
                total: null,
                empty: true,
                paginate: ['items'],
                dismissSecs: 3,
                dismissCountDown: 0
            }
        },
        methods:{
            increment (product,index) {
                product.count = this.cartProducts[index].count+1;
                this.$delete(this.cartProducts, index);
                this.$set(this.cartProducts, index, product);
                console.log(this.cartProducts)

            },
            decrement (product,index) {
                if(product.count === 1) {

                } else {
                    product.count = this.cartProducts[index].count-1;
                    this.$delete(this.cartProducts, index);
                    this.$set(this.cartProducts, index, product);
                }
            },
            addToCart (products,index) {
                if(this.cartProducts[index] && products.id == this.cartProducts[index].id){
                    products.count = this.cartProducts[index].count+1;
                    this.$delete(this.cartProducts, index);
                    this.$set(this.cartProducts, index, products);
                } else {
                    products.count = 1;
                    this.$set(this.cartProducts, index, products);
                    console.log(index);
                    this.dismissCountDown = this.dismissSecs;
                }
            },
            deleteProd (prod, index) {
                this.$delete(this.cartProducts, index);
                console.log(this.cartProducts)
            },
            countDownChanged (dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
        },
        watch: {
            cartProducts() {
                var _this = this;
                _this.total = 0;
                $.each(this.cartProducts, function (index, val) {
                    _this.total += val.price * val.count;
                });
                if(this.total > 0){
                    _this.empty = false
                } else {
                    _this.empty = true
                }
                let data = JSON.stringify(this.cartProducts);
                localStorage.setItem('cartProducts', data);
            }
        },
        mounted(){
            if (localStorage.getItem('cartProducts') != null) {
                this.cartProducts = JSON.parse(localStorage.getItem('cartProducts'));
            }
            this.loading = true;
            axios.get("api/products").then(response =>{
                this.product = response.data;
                this.loading = false;
                setTimeout(function () {
                    $('html,body').animate({
                        scrollTop: $("#cart-content").offset().top
                    }, 'slow');
                }, 500);
            });
            console.log(this.cartProducts)
        }
    }
</script>
