<template>
    <footer class="mt-5">
        <div class="container">
            <div class="row justify-content-between pt-4 pb-4 footer-first-box">
                <div class="col-12 col-md-5 col-lg-3 text-center">
                    <b-link to="/">
                        <img class="img-fluid" :width="190" src="../assets/images/logo.png">
                    </b-link>
                </div>
                <div class="col-12 col-md-7 col-lg-6 social-menu">
                    <h5 class="text-white m-0">Հետևեք մեզ</h5>
                    <hr>
                    <b-nav pills class="justify-content-center">
                        <b-nav-item class="social-items">
                            <img width="20" src="../assets/images/facebook-logo.svg" alt="facebook">
                        </b-nav-item>
                        <b-nav-item class="social-items ml-2">
                            <img width="20" src="../assets/images/instagram.svg" alt="instagram">
                        </b-nav-item>
                        <b-nav-item class="social-items ml-2">
                            <img width="20" src="../assets/images/twitter-logo-silhouette.svg" alt="twitter">
                        </b-nav-item>
                    </b-nav>
                </div>
            </div>
            <div class="row text-white pt-4 pb-4">
                <div class="col-12">
                    <h4 class="text-green">Մեր մասին</h4>
                </div>
                <div class="col-12 d-flex justify-content-between contact-menu flex-wrap">
                    <p><span class="text-green">Addres:</span> 21 Newstreet, Chaitan town, India, 109-74</p>
                    <p>
                        <img width="15" src="../assets/images/phone-receiver.svg" alt="phone">
                        <b-link class="text-white" href="tel:+70080050800">+700800-50-800</b-link>
                    </p>
                    <p>
                        <img width="15" src="../assets/images/mail-black-envelope-symbol.svg" alt="mail">
                        <b-link class="text-white" href="mailto:name@email.com">manager@chaitan.md</b-link>
                    </p>
                    <p>
                        <img width="15" src="../assets/images/skype-logo.svg" alt="skype">
                        <b-link class="text-white" href="skype:example123?chat">chaitan</b-link>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-white text-center"><span class="text-green">Like-themes</span> 2018 © All Rights Reserved - <span class="text-green">Purchase Theme</span></p>
                </div>
            </div>
        </div>
    </footer>
</template>

<style scoped lang="scss">
    footer{
        background-image: url("../assets/images/tea_leafs_bgjpg.jpg");
        position: relative;
        background-attachment: fixed;
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #1b1b1bad;
        }
        .footer-first-box{
            border-bottom: 1px solid #fff;
            .social-menu{
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width: 767px){
                    display: block;
                    text-align:center;
                    margin-top:20px;
                    hr{
                        margin:15px auto !important;
                    }
                }
                hr{
                    width: 50px;
                    margin: 0 20px;
                    background: #fff;
                }
                .social-items{
                    background: #88b44e;
                    border-radius:500px;
                    padding: 6px 0px;
                    transition:all 0.3s ease;
                    &:hover{
                        background:#252c30;
                    }
                }
            }
        }
        .contact-menu{
            p{
                font-size: 18px;
                margin:10px;
            }
        }
    }
</style>

<script>
    export default {
        name: "FooterComponent"
    }
</script>