<template>
    <section class="animate-content">
        <header-navbar></header-navbar>
        <app-breadcrumbs></app-breadcrumbs>
        <div class="container gallery_content mt-5 position-relative">
            <!--preloader-->
            <transition leave-active-class="animated fadeOut">
                <div v-if="loading" class="col-md-12 loader-content">
                    <div class="loader">
                        <div class="loader-inner">
                            <div class="loading one"></div>
                        </div>
                        <div class="loader-inner">
                            <div class="loading two"></div>
                        </div>
                        <div class="loader-inner">
                            <div class="loading three"></div>
                        </div>
                        <div class="loader-inner">
                            <div class="loading four"></div>
                        </div>
                    </div>
                </div>
            </transition>
            <div class="row">
                <div v-for="gallery in galleries" class="col-12 col-md-6 col-lg-4 gallery-box">
                    <a :href="'/storage/'+gallery.img" data-lightbox="roadtrip">
                        <img class="img-fluid" :src="'/storage/'+gallery.img" alt="">
                    </a>
                </div>
            </div>
        </div>
        <footer-navbar></footer-navbar>
    </section>
</template>

<style scoped lang="scss">
    @import '../../../node_modules/lightbox2/src/css/lightbox.css';
    .gallery_content{
        min-height: 300px;
        .gallery-box{
            max-height:300px;
            margin-top:20px;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }
</style>

<script>
    import lightBox from 'lightbox2/src/js/lightbox.js';

    export default {
        name: "galleryPage",
        data () {
            return{
                galleries: {},
                loading: false
            }
        },
        mounted(){
            this.loading = true;
            axios.get("api/galleries").then(response =>{
                this.galleries = response.data;
                this.loading = false;
            })
        }
    }
</script>