<template>
    <header>
        <b-navbar class="d-block" toggleable="md" type="dark">
            <b-navbar-toggle target="nav_collapse" data-aos="fade-in" data-aos-duration="1000" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <svg class="ham hamRotate ham8" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
                    <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                    <path class="line middle" d="m 30,50 h 40" />
                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                </svg>
            </b-navbar-toggle>
            <b-navbar-brand class="p-0 pt-md-5 pb-md-5 d-block text-right text-md-center m-0" to="/">
                <img :width="190" src="../assets/images/logo.png">
            </b-navbar-brand>
            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav class="header-navbar ml-auto mr-auto w-100">
                    <router-link class="nav-item text-uppercase navbar-links" tag="li" to="/">
                        <a class="nav-link">գլխավոր</a>
                    </router-link>
                    <router-link class="nav-item text-uppercase navbar-links" tag="li" to="/About">
                        <a class="nav-link">մեր մասին</a>
                    </router-link>
                    <router-link class="nav-item text-uppercase navbar-links" tag="li" to="/Category">
                        <a class="nav-link">տեսականի</a>
                    </router-link>
                    <router-link class="nav-item text-uppercase navbar-links" tag="li" to="/gallery">
                        <a class="nav-link">տեսադարան</a>
                    </router-link>
                    <router-link class="nav-item text-uppercase navbar-links" tag="li" to="#">
                        <a class="nav-link">Կապնվել</a>
                    </router-link>
                    <router-link id="cart-scroll" class="nav-item" tag="li" to="/Category">
                        <a class="text-white nav-link"><img width='30' height='30' src='../assets/images/shopping-purse-icon.svg' type='svg'><span class="cart-count">{{this.cartCount}}</span></a>
                    </router-link>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </header>
</template>

<style scoped lang="scss">
    header{
        position: absolute;
        top:0;
        width: 100%;
        z-index: 999;
        .header-navbar{
            justify-content: space-evenly;
            align-items: center;
        }
        .cart-count{
            background: #ff4242;
            border-radius: 500px;
            padding: 0px 7px;
            position: absolute;
            font-size: 14px;
            left: 30px;
            top: 2px;
        }
        .nav-item{
            position: relative;
        }
        .navbar-links{
            a{
                color: #fff !important;
            }

        }
        .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            -webkit-transition: -webkit-transform 400ms;
            transition: -webkit-transform 400ms;
            -o-transition: transform 400ms;
            transition: transform 400ms;
            transition: transform 400ms, -webkit-transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .hamRotate.active {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .hamRotate180.active {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        .line {
            fill:none;
            -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke:#fff;
            stroke-width:5.5;
            stroke-linecap:round;
        }

        .ham8 .top {
            stroke-dasharray: 40 160;
        }
        .ham8 .middle {
            stroke-dasharray: 40 142;
            -webkit-transform-origin: 50%;
            -ms-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: -webkit-transform 400ms;
            transition: -webkit-transform 400ms;
            -o-transition: transform 400ms;
            transition: transform 400ms;
            transition: transform 400ms, -webkit-transform 400ms;
        }
        .ham8 .bottom {
            stroke-dasharray: 40 85;
            -webkit-transform-origin: 50%;
            -ms-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
            transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
            -o-transition: transform 400ms, stroke-dashoffset 400ms;
            transition: transform 400ms, stroke-dashoffset 400ms;
            transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
        }
        .ham8.active .top {
            stroke-dashoffset: -64px;
        }
        .ham8.active .middle {
            //stroke-dashoffset: -20px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        .ham8.active .bottom {
            stroke-dashoffset: -64px;
        }
        .navbar-toggler{
            border: none;
            outline: none;
            position: absolute;
            left:0;
            top:0;
            padding: 0;
        }

        @media(max-width: 767px){
            .navbar-collapse{
                position: absolute;
                top:0;
                right: 0;
                background: #516740;
                width: 75%;
                border-radius: 5px;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                .navbar-links{
                    padding: 10px;
                }
            }
        }
        @media(min-width: 992px){
            .navbar-links::before,.navbar-links::after{
                content:"";
                width: 0;
                height: 2px;
                position: absolute;
                -webkit-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
                background: #fff;
            }

            .nav-link::before,.nav-link::after{
                content:"";
                width:2px;
                height:0;
                position: absolute;
                -webkit-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
                background: #fff;
            }
            .navbar-links:hover::before,.navbar-links:hover::after{
                width: 100%;
            }
            .navbar-links:hover .nav-link::before,.navbar-links:hover .nav-link::after{
                height: 100%;
            }

            .navbar-links::before,.navbar-links::after{
                -webkit-transition-delay: 0.2s;
                -o-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }
            .navbar-links .nav-link::before,.navbar-links .nav-link::after{
                -webkit-transition-delay: 0s;
                -o-transition-delay: 0s;
                transition-delay: 0s;
            }
            .navbar-links::before{
                right: 0;
                top: 0;
            }
            .navbar-links::after{
                left: 0;
                bottom: 0;
            }
            .navbar-links .nav-link::before{
                left: 0;
                top: 0;
            }
            .navbar-links .nav-link::after{
                right: 0;
                bottom: 0;
            }
            .navbar-links:hover::before,.navbar-links:hover::after{
                -webkit-transition-delay: 0s;
                -o-transition-delay: 0s;
                transition-delay: 0s;
            }
            .navbar-links:hover .nav-link::before,.navbar-links:hover .nav-link::after{
                -webkit-transition-delay: 0.2s;
                -o-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }
        }
    }
</style>

<script>
    export default {
        name: 'HeaderComponent',
        data(){
            return{
                cartProd: null,
                cartCount: null,
            }
        },
        mounted(){
            if (localStorage.getItem('cartProducts') != null) {
                this.cartProd = JSON.parse(localStorage.getItem('cartProducts'));
            }
            this.cartCount = Object.keys(this.cartProd).length;
        }
    }
</script>

