<template>
    <div class="home-banner">
        <header-navbar></header-navbar>
        <b-carousel id="carousel1-banner"
                    indicators
                    background="#ababab"
                    :interval="5000"
                    v-model="slide"
                    @sliding-start="onSlideStart"
                    @sliding-end="onSlideEnd">
            <b-carousel-slide class="carousel-images" :img-src="require('../assets/images/blackTea.jpg')">
                <h1 class="banner-tittles">Որակյալ թեյի արտադրություն <span class="text-green">Հայաստանում</span></h1>
                <p>Integer quis tempor orci. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <b-link to="/Category" class="btn btn-primary text-uppercase" role="button" aria-pressed="true">Գնել հիմա</b-link>
            </b-carousel-slide>
            <b-carousel-slide class="carousel-images" :img-src="require('../assets/images/plantation.jpg')">
                <h1 class="banner-tittles mb-4">Թեյը աշխարհում ամենատարածված <span class="text-green">խմիչքներից</span> մեկն է</h1>
                <b-link to="/Category" class="btn btn-primary text-uppercase" role="button" aria-pressed="true">Գնել հիմա</b-link>
            </b-carousel-slide>
            <b-carousel-slide class="carousel-images" :img-src="require('../assets/images/TraditionalTea.jpg')">
                <h1 class="banner-tittles mb-4">Թեյ <span class="text-green">Հայկական</span> լեռնաշխարհից</h1>
                <p>Խմած թեյի յուրաքանչյուր բաժակը սնանկացնում է դեղատունը</p>
                <b-link to="/Category" class="btn btn-primary text-uppercase" role="button" aria-pressed="true">Գնել հիմա</b-link>
            </b-carousel-slide>
        </b-carousel>
    </div>
</template>

<style lang="scss">
    .home-banner{
        position: absolute;
        top:0;
        width: 100%;
        #carousel1-banner{
            .carousel-indicators .active{
                background-color: #88b44e;
            }
            li{
                outline: none;
                width: 15px;
                height: 15px;
                border-radius: 500px;
            }
            .carousel-images{
                img{
                    height: 100vh;
                    object-fit: cover;
                    animation: zoomin 30s ease-in infinite;
                }
                .carousel-caption{
                    @media (max-width: 767px){
                        top:135px;
                    }
                    top: 240px;
                    bottom: auto;
                }
            }
        }
        .carousel-images{
            width: 100%;
            &:before{
                content: "";
                background: url("../assets/images/slider-leafs.png");
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 2;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: #1b1b1bad;

            }
            .banner-tittles{
                font-size: 60px;
                font-weight: 700;
                word-break: keep-all;
                @media (max-width: 991px){
                    font-size: 40px;
                }
                @media (max-width: 767px){
                    font-size: 25px;
                }
            }
        }
        .carousel-item {
            opacity: 0;
            transition-duration: .6s;
            transition-property: opacity;
        }
        .carousel-item.active,
        .carousel-item-next.carousel-item-left,
        .carousel-item-prev.carousel-item-right {
            opacity: 1;
        }
        .active.carousel-item-left,
        .active.carousel-item-right {
            opacity: 0;
        }
        .carousel-item-next,
        .carousel-item-prev,
        .carousel-item.active,
        .active.carousel-item-left,
        .active.carousel-item-prev {
            transform: translateX(0);
            transform: translate3d(0, 0, 0);
        }

    }
    @-webkit-keyframes zoomin {
        0% {transform: scale(1);}
        50% {transform: scale(1.5);}
        100% {transform: scale(1);}
    }
    @keyframes zoomin {
        0% {transform: scale(1);}
        50% {transform: scale(1.5);}
        100% {transform: scale(1);}
    }
</style>

<script>
    export default {
        name: 'home-page',
        data () {
            return {
                slide: 0,
                sliding: true
            }
        },
        methods: {
            onSlideStart (slide) {
                this.sliding = true
            },
            onSlideEnd (slide) {
                this.sliding = false
            }
        }
    }
</script>
