<template>
    <section class="animate-content">
        <header-navbar></header-navbar>
        <app-breadcrumbs></app-breadcrumbs>
        <transition tag="div" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <b-alert class="cart-alert" :show="dismissCountDown"
                     dismissible
                     variant="success"
                     @dismissed="dismissCountDown=0"
                     @dismiss-count-down="countDownChanged">
                Ապրանքը ավելացված է զամբյուղ
            </b-alert>
        </transition>
        <div class="container mt-5">
            <div class="row align-items-center position-relative">
                <!--preloader-->
                <transition leave-active-class="animated fadeOut">
                    <div v-if="loading" class="col-md-12 loader-content">
                        <div class="loader">
                            <div class="loader-inner">
                                <div class="loading one"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading two"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading three"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading four"></div>
                            </div>
                        </div>
                    </div>
                </transition>

                <div class="col-12 col-md-5">
                    <img class="img-fluid" :src="'/storage/'+product.img" alt="product-img">
                </div>
                <div class="col-12 col-md-7 mt-3">
                    <div class="d-flex align-items-end">
                        <h4 class="product_name m-0 mr-4">{{product.name}}</h4>
                        <p class="product_price text-green m-0">{{product.price}}֏</p>
                    </div>
                    <h5 class="mt-4">Քանակ</h5>
                    <div class="input-group quantity-block">
                        <div class="quantity-toggle">
                            <button @click="decrement()">&mdash;</button>
                            <input type="text" :value="quantity" readonly>
                            <button @click="increment()">&#xff0b;</button>
                        </div>
                        <div class="input-group-append ml-3">
                            <b-link @click="addToCart(product, product.id)" class="prod-btn btn btn-primary text-uppercase">Գնել <img width='15' height='15' src='../assets/images/shopping-purse-white.svg' type='svg'></b-link>
                        </div>
                    </div>
                    <h5 class="mt-4">Կատեգորյա։</h5>
                </div>
                <div class="col-12 mt-5 bg-white p-4">
                    <h2 class="mb-4">Բնութագիր</h2>
                    <p>{{product.description}}</p>
                </div>
            </div>
        </div>
        <footer-navbar></footer-navbar>
    </section>
</template>

<style scoped lang="scss">
    .product_name{
        font-size: 36px;
        font-weight: bold;
    }
    .product_price{
        font-size:20px;
        font-weight:bold
    }
    .quantity-block{
        .quantity-toggle {
            display: flex;
            input {
                border: 0;
                border-top:1px solid #88b44e;
                border-bottom:1px solid #88b44e;
                width: 2.5rem;
                text-align: center;
                padding: 0 .5rem;
            }
            button {
                padding: .5rem;
                background: #f5f5f5;
                border:1px solid #88b44e;
                color: #888;
                font-size: 1rem;
                cursor: pointer;
            }
        }

    }
</style>

<script>
    export default {
        name: 'Product-page',
        props: {
            id: {
                required: true
            },
        },
        data () {
            return{
                product: {},
                quantity: 1,
                cartProducts:{},
                loading:false,
                dismissSecs: 3,
                dismissCountDown: 0
            }
        },
        methods: {
            addToCart (products,index) {
                if(this.cartProducts[index] && products.id == this.cartProducts[index].id){
                    products.count = this.cartProducts[index].count+this.quantity;
                    this.$delete(this.cartProducts, index);
                    this.$set(this.cartProducts, index, products);
                    this.dismissCountDown = this.dismissSecs;
                } else {
                    products.count = this.quantity;
                    this.$set(this.cartProducts, index, products);
                    console.log(index);
                    this.dismissCountDown = this.dismissSecs;
                    this.dismissCountDown = this.dismissSecs;
                }
            },
            increment () {
                this.quantity++
            },
            decrement () {
                if(this.quantity === 1) {

                } else {
                    this.quantity--
                }
            },
            countDownChanged (dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
        },
        watch: {
            cartProducts() {
                let data = JSON.stringify(this.cartProducts);
                localStorage.setItem('cartProducts', data);
            }
        },
        mounted(){
            if (localStorage.getItem('cartProducts') != null) {
                this.cartProducts = JSON.parse(localStorage.getItem('cartProducts'));
            }
            this.loading = true;
            axios.get("/api/product/"+this.id).then(response =>{
                this.product = response.data;
                this.loading = false;
            });
        }
    }

</script>
